@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gudea&display=swap');

:root {
    --main-color: #073B4C;
    --secondary-color: #7FBEEB;

    /* --card-color: #5C946E; */
    --card-color: #073B4C;

    --brain-icon-color: #FD26C3;
    --red-color: #EF476F;
}

* {
    font-family: 'Archivo', sans-serif;
    font-family: 'Gudea', sans-serif;
}