@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

header {
  background-color: var(--main-color);
  padding: 20px;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}

.my-container {
  margin: auto;
  padding: 30px;
}

h1 {
  font-weight: 500;
  font-size: 2.6rem;
  top: -10px;
}

.submit-btn {
  align-self: center;
}


/* Estilos para tarjetas */
.card {
  border: 2px var(--card-color) solid;
  border-radius: 5px;
  text-align: justify;
  margin: 10px;
  padding: 20px;
}

.card-link {
  background-color: var(--card-color); 
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  float: right;
  font-weight: 900;
}

.card-link:hover {
  border: var(--card-color) solid 1px;
  background-color: white;
  color: var(--card-color);
}

.error-msg {
  color: var(--red-color);
  margin: 20px 0px;
}

.btn {
  background-color: var(--main-color);
  color: white;
  margin: auto;
}


/* Backgrounds colors */
 .bg-white {
  background-color: white;
}

.bg-morado {
  background-color: rgba(212, 205, 244, 0.3);
}